* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Balsamic Sans";
  }
  header {
    text-align: center;
    background: #000;
    color: #fff;
    padding: 10px 0;
  }
  .contenido {
    max-width: 700px;
    margin: auto;
    padding: 20px;
  }
  
  section {
    border: 2px solid #5624d0;
    border-radius: 7px;
    padding: 10px;
    margin: 10px 0;
  }
  label {
    display: block;
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
    border: 1px dashed #ccc;
    margin-bottom: 3px;
  }
  
  label:hover {
    background: #cec0fc;
  }
  
  button {
    width: 80%;
    display: block;
    margin: auto;
    padding: 10px;
  
    background-color: #76d7c8;
    border: none;
    cursor: pointer;
    border-radius: 20px;
  }
  
  button:hover {
    background: #000;
    color: #fff;
  }
  
  .name {
    display: inline-block;
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
    border: 1px dashed #ccc;
    margin-bottom: 3px;
  }
  .form1 {
    text-align: center;
  }
  .botones {
    display: inline-flex;
    width: 80%;
    justify-content: center;
    white-space: auto;
    /*  margin: auto;*/
    /* padding: 10px;*/
  }
  .respuestaMarcada {
    background-color: red;
  }
  .respuestaCorrecta {
    background-color: green;
  }
  